---
import Layout from '@/layouts/layout.astro';
import { changeLanguage } from 'i18next';

changeLanguage('en');
---

<Layout>
  <div class='flex flex-col justify-center p-6 gap-6 max-w-6xl'>
    <h1>Astro template</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue
      suscipit felis. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Nunc laoreet posuere odio, in
      placerat ex efficitur a. Pellentesque varius fringilla metus at interdum.
      Nulla dignissim varius turpis in consectetur. Nullam ullamcorper dapibus
      est, ac rutrum libero ornare id. Nullam sed massa et massa efficitur
      cursus in ac nisl. Etiam malesuada facilisis tempus. Etiam sollicitudin,
      sem at vulputate venenatis, est leo placerat arcu, vel commodo lectus mi
      ut elit. Praesent et semper nulla, ac iaculis purus. Ut a purus enim.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Donec purus magna, porttitor ac nulla non, imperdiet
      rhoncus massa. Vestibulum odio sapien, ultricies ut pellentesque sed,
      bibendum ac risus. Sed in congue velit. Duis non lacinia mi.
    </p>
    <p>
      Nam ac ligula vel lacus suscipit rutrum nec quis ante. Aliquam eget dui eu
      ipsum rhoncus finibus. Aliquam non ornare magna. Suspendisse in aliquam
      diam. Ut maximus fermentum massa. Mauris vestibulum lectus leo, quis
      congue dolor feugiat ac. Aenean at volutpat neque. Morbi tempor dignissim
      arcu vitae sodales. Nullam sit amet mauris ac leo varius finibus a at dui.
      Mauris vitae urna vel felis varius interdum quis vel sapien.
    </p>
    <p>
      In luctus risus iaculis, semper mi eu, pretium quam. Fusce a lobortis
      nulla, quis semper massa. Nunc pellentesque erat a nibh sollicitudin, in
      finibus ipsum elementum. Integer volutpat enim vitae nulla volutpat porta.
      Vestibulum non velit sapien. Suspendisse potenti. Cras eleifend sed sapien
      vel maximus. Pellentesque eget fringilla est. Donec tempus, quam non
      scelerisque placerat, turpis mauris pulvinar ligula, sit amet ornare
      turpis est at lectus. Nullam mollis et nisl sed semper. Mauris viverra
      cursus dui, ac scelerisque ipsum.
    </p>
    <p>
      Ut pulvinar enim nisl. Nulla dictum ipsum id turpis sollicitudin accumsan.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. In fermentum, tortor sed fringilla viverra, sem orci
      hendrerit est, ut faucibus tellus justo vel neque. Vestibulum mattis nisl
      ornare pretium pharetra. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Mauris lobortis pretium sem at
      interdum.
    </p>
    <p>
      Nullam convallis, lacus id rutrum interdum, sapien lectus rutrum neque, a
      sodales urna ipsum eu lectus. Phasellus aliquet, nulla ut semper
      facilisis, erat ligula cursus ligula, ut tempus nisi risus vel est.
      Vestibulum vehicula neque at lorem fermentum interdum. Donec rhoncus eros
      mauris, vel porta lacus sodales at. Nulla sit amet turpis et augue
      consequat dapibus nec in nisl. Cras turpis nibh, tincidunt iaculis posuere
      nec, facilisis sit amet ex. Suspendisse potenti. Donec quam lacus, commodo
      vitae massa in, suscipit facilisis lectus. Phasellus elit lectus, viverra
      quis ex ultricies, varius blandit enim. Integer nisl ligula, pellentesque
      a neque eget, gravida venenatis ligula. Suspendisse facilisis metus quis
      consectetur hendrerit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue
      suscipit felis. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Nunc laoreet posuere odio, in
      placerat ex efficitur a. Pellentesque varius fringilla metus at interdum.
      Nulla dignissim varius turpis in consectetur. Nullam ullamcorper dapibus
      est, ac rutrum libero ornare id. Nullam sed massa et massa efficitur
      cursus in ac nisl. Etiam malesuada facilisis tempus. Etiam sollicitudin,
      sem at vulputate venenatis, est leo placerat arcu, vel commodo lectus mi
      ut elit. Praesent et semper nulla, ac iaculis purus. Ut a purus enim.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Donec purus magna, porttitor ac nulla non, imperdiet
      rhoncus massa. Vestibulum odio sapien, ultricies ut pellentesque sed,
      bibendum ac risus. Sed in congue velit. Duis non lacinia mi.
    </p>
    <p>
      Nam ac ligula vel lacus suscipit rutrum nec quis ante. Aliquam eget dui eu
      ipsum rhoncus finibus. Aliquam non ornare magna. Suspendisse in aliquam
      diam. Ut maximus fermentum massa. Mauris vestibulum lectus leo, quis
      congue dolor feugiat ac. Aenean at volutpat neque. Morbi tempor dignissim
      arcu vitae sodales. Nullam sit amet mauris ac leo varius finibus a at dui.
      Mauris vitae urna vel felis varius interdum quis vel sapien.
    </p>
    <p>
      In luctus risus iaculis, semper mi eu, pretium quam. Fusce a lobortis
      nulla, quis semper massa. Nunc pellentesque erat a nibh sollicitudin, in
      finibus ipsum elementum. Integer volutpat enim vitae nulla volutpat porta.
      Vestibulum non velit sapien. Suspendisse potenti. Cras eleifend sed sapien
      vel maximus. Pellentesque eget fringilla est. Donec tempus, quam non
      scelerisque placerat, turpis mauris pulvinar ligula, sit amet ornare
      turpis est at lectus. Nullam mollis et nisl sed semper. Mauris viverra
      cursus dui, ac scelerisque ipsum.
    </p>
    <p>
      Ut pulvinar enim nisl. Nulla dictum ipsum id turpis sollicitudin accumsan.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. In fermentum, tortor sed fringilla viverra, sem orci
      hendrerit est, ut faucibus tellus justo vel neque. Vestibulum mattis nisl
      ornare pretium pharetra. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Mauris lobortis pretium sem at
      interdum.
    </p>
    <p>
      Nullam convallis, lacus id rutrum interdum, sapien lectus rutrum neque, a
      sodales urna ipsum eu lectus. Phasellus aliquet, nulla ut semper
      facilisis, erat ligula cursus ligula, ut tempus nisi risus vel est.
      Vestibulum vehicula neque at lorem fermentum interdum. Donec rhoncus eros
      mauris, vel porta lacus sodales at. Nulla sit amet turpis et augue
      consequat dapibus nec in nisl. Cras turpis nibh, tincidunt iaculis posuere
      nec, facilisis sit amet ex. Suspendisse potenti. Donec quam lacus, commodo
      vitae massa in, suscipit facilisis lectus. Phasellus elit lectus, viverra
      quis ex ultricies, varius blandit enim. Integer nisl ligula, pellentesque
      a neque eget, gravida venenatis ligula. Suspendisse facilisis metus quis
      consectetur hendrerit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue
      suscipit felis. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Nunc laoreet posuere odio, in
      placerat ex efficitur a. Pellentesque varius fringilla metus at interdum.
      Nulla dignissim varius turpis in consectetur. Nullam ullamcorper dapibus
      est, ac rutrum libero ornare id. Nullam sed massa et massa efficitur
      cursus in ac nisl. Etiam malesuada facilisis tempus. Etiam sollicitudin,
      sem at vulputate venenatis, est leo placerat arcu, vel commodo lectus mi
      ut elit. Praesent et semper nulla, ac iaculis purus. Ut a purus enim.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Donec purus magna, porttitor ac nulla non, imperdiet
      rhoncus massa. Vestibulum odio sapien, ultricies ut pellentesque sed,
      bibendum ac risus. Sed in congue velit. Duis non lacinia mi.
    </p>
    <p>
      Nam ac ligula vel lacus suscipit rutrum nec quis ante. Aliquam eget dui eu
      ipsum rhoncus finibus. Aliquam non ornare magna. Suspendisse in aliquam
      diam. Ut maximus fermentum massa. Mauris vestibulum lectus leo, quis
      congue dolor feugiat ac. Aenean at volutpat neque. Morbi tempor dignissim
      arcu vitae sodales. Nullam sit amet mauris ac leo varius finibus a at dui.
      Mauris vitae urna vel felis varius interdum quis vel sapien.
    </p>
    <p>
      In luctus risus iaculis, semper mi eu, pretium quam. Fusce a lobortis
      nulla, quis semper massa. Nunc pellentesque erat a nibh sollicitudin, in
      finibus ipsum elementum. Integer volutpat enim vitae nulla volutpat porta.
      Vestibulum non velit sapien. Suspendisse potenti. Cras eleifend sed sapien
      vel maximus. Pellentesque eget fringilla est. Donec tempus, quam non
      scelerisque placerat, turpis mauris pulvinar ligula, sit amet ornare
      turpis est at lectus. Nullam mollis et nisl sed semper. Mauris viverra
      cursus dui, ac scelerisque ipsum.
    </p>
    <p>
      Ut pulvinar enim nisl. Nulla dictum ipsum id turpis sollicitudin accumsan.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. In fermentum, tortor sed fringilla viverra, sem orci
      hendrerit est, ut faucibus tellus justo vel neque. Vestibulum mattis nisl
      ornare pretium pharetra. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Mauris lobortis pretium sem at
      interdum.
    </p>
    <p>
      Nullam convallis, lacus id rutrum interdum, sapien lectus rutrum neque, a
      sodales urna ipsum eu lectus. Phasellus aliquet, nulla ut semper
      facilisis, erat ligula cursus ligula, ut tempus nisi risus vel est.
      Vestibulum vehicula neque at lorem fermentum interdum. Donec rhoncus eros
      mauris, vel porta lacus sodales at. Nulla sit amet turpis et augue
      consequat dapibus nec in nisl. Cras turpis nibh, tincidunt iaculis posuere
      nec, facilisis sit amet ex. Suspendisse potenti. Donec quam lacus, commodo
      vitae massa in, suscipit facilisis lectus. Phasellus elit lectus, viverra
      quis ex ultricies, varius blandit enim. Integer nisl ligula, pellentesque
      a neque eget, gravida venenatis ligula. Suspendisse facilisis metus quis
      consectetur hendrerit.
    </p>
  </div>
</Layout>
