---
import { Icon } from 'astro-icon/components';
import { t } from 'i18next';
import LanguageSelector from './language-selector.astro';

const date = new Date();
---

<footer
  class='bg-black bg-opacity-70 backdrop-blur-lg p-4 rounded-lg flex gap-4 justify-center relative shadow-large flex-col items-center'
>
  <div class='flex gap-4 flex-wrap text-white'>
    <a href='mailto:rrios.dev'>{t('footer.contact')}</a>
  </div>
  <LanguageSelector />
  <a
    href='https://rrios.dev'
    aria-label='Link to Roberto Ríos website'
    target='_blank'
    class='text-xs flex gap-2 items-center text-white'
    >@rrios <Icon name='logo' /> {date.getFullYear()}</a
  >
</footer>
