---
const date = new Date();
---

<footer class='sticky bottom-0 w-full'>
  <div class='6xl:mx-auto flex justify-center dark:bg-black p-2'>
    <a href='https://rrios.dev' target='_blank' class='text-xs'
      >@rrios - {date.getFullYear()}</a
    >
  </div>
</footer>
